@model BusinessLayer.Course

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/UserDetails.css">
    <title>Edit User</title>
</head> 
<main>
<headerhh>
    <h1>@Html.DisplayFor(model => model.Name)</h1>
</headerhh>
<table>
    <tbody>
    <tr>
        <td class="hero-text">
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a class="cta-button" asp-action="Index">Back to List</a>
</div>
</main>
