@{
    ViewData["Title"] = "About";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\about.css">
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="\css\header.css">
    <link rel="stylesheet" href="\css\footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="\js\transition.js"></script>
    <title>About Learn Wizard</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a class="logo-h" href="Index.html">
                    <img src="\resources\logo.jpg" alt="logo" class="logo-image">
                    Learn Wizard
                </a>
            </div>
            <ul class="nav-log">
                <li><a href="Login.html">Login</a></li>
                <li><a href="Register.html">Register</a></li>
            </ul>
        </nav>
    </header>
    <section id="about" class="about">
        <h2>About Learn Wizard</h2>
        <p>Learn Wizard is your personalized learning platform powered by state-of-the-art AI. We understand that everyone's learning journey is unique, and that's why we tailor your courses to your individual needs and preferences. Whether you're a student looking to ace your exams or a professional seeking to acquire new skills, Learn Wizard has you covered.</p>
    </section>


    <footer>
        <a href="Contact.html"><i class="fas fa-envelope" id="mitko"></i><p>2023 Learn Wizard</p></a>
    </footer>
</body>
</html>