@{
    ViewData["Title"] = "About";
}
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/about.css">
    <title>About Learn Wizard</title>
</head>
<body>
    <section id="about" class="about">
        <h2>About Learn Wizard</h2>
        <p>Learn Wizard is your personalized learning platform powered by state-of-the-art AI. We understand that everyone's learning journey is unique, and that's why we tailor your courses to your individual needs and preferences. Whether you're a student looking to ace your exams or a professional seeking to acquire new skills, Learn Wizard has you covered.</p>
    </section>
</body>
</html>