@{
    ViewData["Title"] = "Home Page";
}
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/index.css">
    <title>Learn Wizard - Home</title>
</head>
<body>
    <section id="hero" class="hero">
        <div class="hero-text">
            <div class="typewriter">
                <h1><span id="title-text"></span></h1>
                <p><span id="paragraph-text"></span></p>
            </div>
            <script src="~/js/typewriter.js"></script>
            <a href="About" id="cta-button" class="cta-button">Learn More</a>
        </div>
        <img src="~/resources/wizard.jpg" alt="Learn Wizard" class="hero-image">
    </section>
</body>
</html>


